{% extends "base.html" %}

{% block external %}
<link href="../site_media/flot.css" rel="stylesheet" type="text/css">
<script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.time.js"></script>
{% endblock %}

{% block title %}rrd chart view{% endblock %}
{% block content %}
	<div class="title"> Hubblemon </div>
	<div class="main_link">
	{{ main_link|safe }}
	</div>

	<div class="chart_list">
	<form method="post" action=".">{% csrf_token %}
	  {{ expr_form.as_table }}
	  <input type="submit" value="eval" height=2em />
	  {{ date_range|safe }}
	</form>

	{{ chart_list|safe }}
	</div>

	<div class="chart_area">
	{{ chart_data|safe }}
	</div>
{% endblock %}


